@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root{
    --bg : rgb(250, 246, 246);
    --content-bg : rgb(231, 225, 225);
    /* --navbar-color : rgb(250, 208, 208); */
    --navbar-color : #ffe6f1;
    --navbar-font-clr : rgb(150, 148, 148);
    --navbar-color-on-hover : rgb(128, 117, 117);
}
html{
    scroll-behavior: smooth;
}
a{
    color: black;
}
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    /* min-height: 2000px; */
    background-color: var(--content-bg);
}
.logo img{
    height: auto;
    max-width: 9rem;
}
.navbar{
    color: var(--navbar-font-clr);
    display: flex;
    padding: 0.5rem 3%;
    background-color: var(--navbar-color);
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}
.accountInfo .additional p{
    display: inline-block;
    font-weight: 600;
}
.accountInfo{
    display: flex;
}
.logo{
    font-size: 1.8rem;
    color: var(--navbar-font-clr);
}
.navbar .navbar-nav a{
    display: inline-block;
    margin: 0 16px;
    color: var(--navbar-font-clr);
    padding: 10px 5px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.navbar .navbar-nav a:hover{
    color: var(--navbar-color-on-hover);
    transition: 0.5s ease-out;
    letter-spacing: 2px;
}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--navbar-color-on-hover);
    transform: scaleX(0);
    transition: 0.2s;
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(1);
}
.dropdown-content-about{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 12rem;
    transform: translateX(130%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content-about a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown{
    overflow: hidden;
    display: inline;
}
.dropdown:hover .dropdown-content-about{
    display: block;
}
.signIN{
    color: var(--navbar-font-clr);
    margin-left: 0.5rem;
    margin-right: 0.8rem;
    font-weight: 600;
}
.signIN:hover{
    cursor: pointer;
    color: blueviolet;
    text-decoration: underline;
}
.signUp{
    display: inline;
    color: white;
    background-color: green;
    width: 6rem;
    height: 2.5rem;
    margin-left: 0.7rem;
    border: 1px solid green;
    font-weight: 600;
}
.signUp:hover{
    cursor: pointer;
    color: black;
    box-shadow: inset -6.25rem 0 0 0 lightgreen;
    transition: 0.1s ease-in;
}
.landing-page-msg{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(Assets/s-o-c-i-a-l-c-u-t-hwy3W3qFjgM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.landing-page-msg::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 37%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(231, 225, 225, 1) 5%, rgba(255, 255, 255, 0) 50%);
}
.content{
    padding: 0.5rem 5%;
    position: relative;
    /* color: rgb(252, 199, 199); */
    color: rgb(245, 202, 12);
    justify-content: center;
    align-items: center;
    min-width: 100%;
    text-align: center;
}
.tulisan-gede{
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Handlee', cursive;
}
.deskripsi{
    margin-bottom: 2rem;
    font-weight: 700;
    font-style: italic;
    /* color: rgb(231, 219, 54); */
    color: rgb(43, 42, 42);
    font-size: medium;
}
.hero{
    background-color: lightgreen;
    color: rgb(61, 61, 61);
    width: 7rem;
    height: 3rem;
    border: none;
    font-weight: 700;
}
.hero:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

/* Menu */
.resep{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}
.hp{
    float: left;
    width: 65%;
    margin-bottom: 10rem;
    margin-left: 1rem;
}
.rs{
    float: right;
    width: 25%;
    margin-left: 4rem;
    margin-bottom: 10rem;
}
.hp .text{
    text-align: center;
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
}
.rs .text{
    text-align: center;
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    /* padding: 0.5rem; */
    justify-content: center;
}
.recipe-title{
    /* max-width: 12rem; */
    text-align: center;
    margin-bottom: 1.5rem;
    /* margin-left: 2rem; */
    cursor: pointer;
}
.recipe-card{
    text-align: center;
    padding: 1.5rem 1.5rem 1rem;
}
.recipe-img{
    /* width: 10rem;
    height: 15rem; */
    width: auto;
    height: auto;
    max-width: 12rem;
    border-radius: 10px;
    /* margin-right: 2rem; */
    /* margin-left: 2rem; */
    cursor: pointer;
}
.isi-rs{
    display: flex;
    margin-bottom: 2rem;
}
.recipe-title-rs{
    margin-left: 1.5rem;
    cursor: pointer;
}
.futer{
    bottom: 0;
    background-color: brown;
    width: 100%;
    height: 5rem;
    padding: 2rem;
}
.futer p{
    color: white;
    text-align: center;
}
@media (max-width: 1366px){
    html {
        font-size: 90%;
    }
    #menu{
        display: none;
    }
}
@media (max-width: 785px){
    html {
        font-size: 70%;
    }
    .hero{
        font-size: 100%;
    }
    .navbar{
        position: relative;
    }
    #menu{
        display: inline-block;
        position: absolute;
        margin-left: 1rem;
    }
    .additional{
        transform: translateX(-15%);
        font-size: 1.2rem;
    }
    .navbar-nav{
        position: absolute;
        right: -100%;
        top: 100%;
        background-color: white;
        width: 15rem;
        height: 100vh;
        z-index: 1;
        display: none;
    }
    .navbar .navbar-nav a{
        padding: 0.5rem;
    }
    .navbar-nav.menu-active{
        right: 0;
        display: inline;
        /* transform: translateY(10%); */
    }
    .navbar .navbar-nav a{
        display: block;
        margin-bottom: 0.5rem;
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        color: var(--navbar-font-clr);
        font-size: 1.2rem;
    }
    .hp{
        width: 80%;
        margin-bottom: 5rem;
    }
    .rs{
        width: 80%;
    }
    .dropdown-content-about{
        position: absolute;
        transform: translateX(20%);
        transform: translateY(-5%);
        margin-left: 2rem;
    }
}
@media (max-width: 479px){
    html {
        font-size: 55%;
    }
}

/* MY CUSTOM ANIMATION */
.fadeInLeft{
    -webkit-animation: fadeInLeft 2s both;
    -moz-animation: fadeInLeft 2s both;
    -o-animation: fadeInLeft 2s both;
    animation: fadeInLeft 2s both; 
}

.fadeInRight{
    -webkit-animation: fadeInRight 2s both;
    -moz-animation: fadeInRight 2s both;
    -o-animation: fadeInRight 2s both;
    animation: fadeInRight 2s both; 
}

@-webkit-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -o-transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}

@-webkit-keyframes fadeInRight{
    0%{
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight{
    0%{
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInRight{
    0%{
        opacity: 0;
        -o-transform: translateX(100px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}